/* .playerView
{
    display: none;
}

.editorView
{
    display: block;
}

.passage-card
{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.choice
{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
} */

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  input, textarea {
    display: block;
    margin: 5px 0;
  }